name: Loon转换模块
description: 自动生成的Egern模块
rules:
{% for rule in rules %}
  - domain:
      match: {{ rule.domain.match }}
      policy: {{ rule.domain.policy }}
{% endfor %}
mitm:
  hostnames:
    includes:
{% for host in mitm.hostnames.includes %}
      - {{ host }}
{% endfor %}
